:focus{outline:thin dotted invert}

:link,:visited,u,ins{text-decoration:underline}
strike,del{text-decoration:line-through}


head,script{display:none}

frameset,frame,noframes,html,body,div,hr,p,h1,h2,h3,h4h5,h6,
form,fieldset,address,blockquote,
dd,dl,dt,ol,ul,pre{display:block;unicode-bidi:embed;}

li{display:list-item}

table{display:table;border-spacing:2px}

tr{display:table-row}
td,th{display:table-cell}
td,th,tr{vertical-align:inherit}
caption,th{text-align:center}
caption{display:table-caption;}
col{display:table-column}
colgroup{display:table-column-group}
thead{display:table-header-group}
tbody{display:table-row-group}
tfoot{display:table-footer-group}
thead,tbody,tfoot{vertical-align:middle}


body{margin:8px}
h1{font-size:2em;margin:.67em 0;}
h2{font-size:1.5em;margin:.75em 0;}
h3{font-size:1.17em;margin:.83em 0;}

h4,dl,ul,ol,p,form,fieldset,blockquote{margin:1.12em 0}
h5,sub,sup{font-size:.83em}
h5{margin:1.5em 0;}
h6{font-size:.75em;margin:1.67em 0;}

h1,h2h3,h4,h5,h6,th,b,strong{font-weight:bolder}


blockquote{margin-right:40px;}
ol,ul,dd,blockquote{margin-left:40px}

i,em,var,cite,address{font-style:italic}

input,button,textarea,select{display:inline-block}

pre,code,kbd,samp{font-family:monospace}
pre{white-space:pre}





sub{vertical-align:sub}
sup{vertical-align:super}



hr{border:1px inset}

ol{list-style-type:decimal}


ol ul,
ol ol,
ul ol,
ul ul{
margin-top:0;
margin-bottom:0;
}



/*
include newlines in the generated content by writing the "\A" escape sequence
This inserted line break is still subject to the 'white-space' property.
*/

br:before{content:"\A";white-space:pre-line;}

*[DIR]{unicode-bidi:embed}
*[DIR="ltr"]{direction:ltr}
*[DIR="rtl"]{direction:rtl}
BDO[DIR]{unicode-bidi:bidi-override;}

@mediaprint{
h1{page-break-before:always}
ul,ol,dl{page-break-before:avoid}
h1,h2,h3,h4,h5,h6{page-break-after:avoid}
}
